<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.appdever.foody">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_foody_circle"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".signupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".searchPage.enterSearch.EnterSearchActivity" >
        </activity>
        <activity android:name=".FoodDetailActivity">
        </activity>
        <activity android:name=".searchPage.ingEnterSearch.IngEnterSearchActivity">
        </activity>
    </application>

</manifest>